.app-title {
  text-align: center;
}

img.flag {
  max-width: 100px;
}


.calcContainer {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.display {
    background: #f0f0f0;
    padding: 20px;
    font-size: 2em;
    text-align: right;
}

.buttonPanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 1.5em;
}